// Variables
$primary-color: #2962ff;
$secondary-color: #ff5b3a;
$white: #fff;
$black: #000;
$grey: #e1e1e1;
$card-bg: rgba(255, 255, 255, 0.05);
$border-color: rgba(255, 255, 255, 0.1);
$error-color: #ff4d4d;
$color-pl: #505050;
$color-title: #070707;

$font-family:
  "Palatino Linotype",
  "Inter",
  system-ui,
  -apple-system,
  sans-serif;
$font-family-2: SF Pro Display;
